.task {
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.right-content {
  align-items: right;
  display: flex;
}

.left-content {
  align-items: left;
  display: flex;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.checkbox.completed {
  background-color: green;
}

.checkbox.inCompleted {
  background-color: gray;
}

.content {
  margin: 0 0 0 5px;
}

.content.completed {
  text-decoration: line-through;
}
