.container {
  max-width: 1080px;
  margin: auto;
  align-items: center;
  color: #646681;
  background-color: #f8f8ff;
}
.title {
  margin: 20px auto;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.task-creator {
  padding: 0 10px;
  align-items: right;
}
.task-filter {
  padding: 0 10px;
  align-items: left;
}
.tasks {
  padding: 10px;
  background-color: #ecedf6;
}
